@model CreateRequestView

@{
    ViewData["Title"] = "Details";

}

<h1>Details</h1>

<div>
    <h4>RequstedAssigendView</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateTime)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>
</div>
<div>
    
    <a asp-action="MyTickets">Back to List</a>
</div>
