@using OHD.Models;
@model IEnumerable<CreateRequestView>

@{
    ViewData["Title"] = "Index";

}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success float-right">@TempData["Success"]</div>
}
else if (TempData["Error"] != null)
{
    <div class="alert alert-success float-right">@TempData["Error"]</div>
}
<div class="pd-20 card-box mb-30" style="overflow-x: auto;">
    <div class="clearfix mb-20">
        <div class="pull-left">
            <h4 class="text-blue h4">Tickets Table</h4>
            <p>Here all available <code>Requested</code></p>
        </div>
        <div class="pull-right">
            <a asp-action="Create" class="btn btn-primary btn-sm scroll-click" rel="content-y" data-toggle="collapse" role="button"><i class=" fa fa-plus-circle"></i> New Tickets</a>
            <a asp-action="MyTickets" class="btn btn-primary btn-sm scroll-click" rel="content-y" data-toggle="collapse" role="button"><i class=" fa fa-plus-circle"></i> My Tickes</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.RequestorName)
                </th>


                <th scope="col">
                    @Html.DisplayNameFor(model => model.Subject)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Descripation)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.status)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.CreateTime)
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.Requestor.Name)
                    </td>

                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.Descripation)
                    </td>
                    <td scope="row">
                        @if (item.status == Requests.Status.rejected)
                        {
                            <div class="badge badge-danger">@Html.DisplayFor(modelItem => item.status)</div>
                        }
                        else if (item.status == Requests.Status.accepted)
                        {
                            <div class="badge badge-success">@Html.DisplayFor(modelItem => item.status)</div>
                        }
                        else if (item.status == Requests.Status.pedding)
                        {
                            <div class="badge badge-warning">@Html.DisplayFor(modelItem => item.status)</div>
                        }
                        else if (item.status == Requests.Status.work_in_progress)
                        {
                            <div class="badge badge-info">@Html.DisplayFor(modelItem => item.status)</div>
                        }
                        else
                        {
                            <div class="badge badge-secondary">@Html.DisplayFor(modelItem => item.status)</div>
                        }

                    </td>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.CreateTime)
                    </td>
                    <td scope="row">

                        <a class="badge badge-secondary" asp-action="MyDetails" asp-route-id="@item.Id">Details</a> |
                        <a class="badge badge-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>


