@model IEnumerable<Roles>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (TempData["Success"] != null)
{
    <div class="alert alert-success float-right">@TempData["Success"]</div>
}
<p>
    <a  asp-action="Create" class="badge badge-info">Create New</a>
</p>
<table class="table bg-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleDescription)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleDescription)
            </td>
            <td>
               <a class="badge badge-primary" asp-action="Edit" asp-route-id="@item.RoleId">Edit</a> |
              <a class="badge badge-secondary" asp-action="Details" asp-route-id="@item.RoleId">Details</a> |
              <a class="badge badge-danger"  asp-action="Delete" asp-route-id="@item.RoleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
