@model IEnumerable<RegisterView>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (TempData["Success"] != null)
{
    <div class="alert alert-success float-right">@TempData["Success"]</div>
}
<p>
    <a asp-action="Create" class="badge badge-info">Create New</a>
</p>
<table class="table bg-light">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Username
            </th>
            <th>Email</th>
            <th>Address</th>
            <th>Gender</th>
            <th>Status</th>
            <th>Role</th>
            <th>Facility</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.roles.RoleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Facilities.FacilityName)
                </td>
                <td>
                    <a class="badge badge-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="badge badge-secondary"asp-action="Details" asp-route-id="@item.Id">Details</a> |
                     <a class="badge badge-danger"  asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
